<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>    
    <script src="./js/gnb.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 공지사항</p>
                </div>
            </div>
            <div class="list">
				<article>
					<p>공지사항</p>
					<ul>
						<li><a th:href="@{/cs/notice/list(cate1=10)}">전체</a></li>
						<li><a th:href="@{/cs/notice/list(cate1=11)}">고객서비스</a></li>
						<li><a th:href="@{/cs/notice/list(cate1=12)}">안전거래</a></li>
						<li><a th:href="@{/cs/notice/list(cate1=13)}">위해상품</a></li>
						<li><a th:href="@{/cs/notice/list(cate1=14)}">이벤트당첨</a></li>
					</ul>
				</article>
                <div>
                    <div class="title">
                        <p>[[${article.title}]]</p>
                        <span>[[${article.c1Name}]]</span>
                    </div>
                    <div class="content noticeContent">
	                    <p>[[${article.content}]]</p>
	                        
※ 피싱 관련 피해신고

▶ 경찰청 사이버수사국 (국번없이)182 : http://cyberbureau.police.go.kr
▶ KISA 인터넷침해대응센터 (국번없이)118 : http://www.krcert.or.kr
감사합니다.
	                    </p>
                    </div>
                    <a th:href="@{/cs/notice}" class="goList">목록보기</a>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>