<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript">
    		
    $(document).ready(function(){
    	
    	let url = window.location.href;
    	
    	let cate1 = url.substring(49,51);
    	
    	console.log(cate1);
    	
    	if(cate1 == '0'){
    		$('li a[href$="cate1=0"]').addClass('on');
    	}else if(cate1 == '10'){
    		$('li a[href$="cate1=10"]').addClass('on');
    	}else if(cate1 == '11'){
    		$('li a[href$="cate1=11"]').addClass('on');
    	}else if(cate1 == '12'){
    		$('li a[href$="cate1=12"]').addClass('on');
    	}else if(cate1 == '13'){
    		$('li a[href$="cate1=13"]').addClass('on');
    	}else if(cate1 == '14'){
    		$('li a[href$="cate1=14"]').addClass('on');
    	}else if(cate1 == '15'){
    		$('li a[href$="cate1=15"]').addClass('on');
    	}else if(cate1 == '16'){
    		$('li a[href$="cate1=16"]').addClass('on');
    	}
    	
    	$('form').submit(function(){
			if($('#csType').val() == '카테고리선택'){
				alert('카테고리를 선택하십시요.');
				return false;
			}
			
			if($('#csType1').val() == '카테고리선택'){
				alert('카테고리를 선택하십시요.');
				return false;
			}
			
			if($('input[name=title]').val() == ''){
				alert('제목을 입력하십시요.');
				return false;
			}
			if($('textarea[name=content]').val() == ''){
				alert('내용을 입력하십시요.');
				return false;
			}
			return true;
		});
		
		$('#csType').change(function(){
			
			let cate1 = $(this).val();
			
			console.log('cate1 : ' + cate1);
			
			let jsonData = {"cate1": cate1};
			
			if(cate1 == '그룹선택'){
				$('#csType1').empty();
				let tags  = "<option>2차 선택</option>";
				$('#csType1').append(tags);
			}
			
			$.ajax({
				url : "/Kmarket/cs/changeQnaCate",
				method : "GET",
				data : jsonData ,
				dataType : "json",
				success : function(data){
					$('#csType1').empty();
					let tags  = "<option>2차 선택</option>";
					$('#csType1').append(tags);
					data.result.forEach(function(data){
						if(data.cate1 != 0){
							let tags = "<option value='"+data.cate2+"'>"+data.c2Name+"</option>";
							$('#csType1').append(tags);
						}else{
							$('#csType1').empty();
							let tags  = "<option>2차 선택</option>";
							$('#csType1').append(tags);
						}
					});
				}
			});
		});
    });
    	
    </script>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 문의하기</p>
                </div>
            </div>
            <div class="list">
               	<article>
					<p>문의하기</p>
					<ul th:each="cate1 : ${cate1s}">
						<li><a th:href="@{cs/qna_list(cate1=${cate1.cate1})}">[[${cate1.c1Name}]]</a></li>
					</ul>
				</article>
                <div>
            		<p>전체</p>
       				<span>문의사항 전체 내용입니다.</span>
                    <form th:action="@{qna_write}" method="post">
                    <input type="hidden" name="uid" value="test"/>
                        <table class="qna_write">
                            <tr>
                                <td>문의유형</td>
                                <td>
                                    <select name="cate1" id="csType">
                                        <option>그룹선택</option>
                                        <option th:each="cate : ${cate1s}" th:value="${cate.cate1}" th:text="${cate.c1Name}" th:selected="${cate.cate1} eq ${cate1}"></option>
                                    </select>
                                    <select name="cate2" id="csType1" style="width: 200px;">
                                        <option value="카테고리선택">카테고리선택</option>
                                        <option th:each="cate2 : ${cate2s}" th:value="${cate2.cate2}" th:if="${cate2}">[[${cate2.c2Name}]]</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>문의제목</td>
                                <td>
                                    <input type="text" name="title" placeholder="제목을 입력하세요.">
                                </td>
                            </tr>
                            <tr>
                                <td>문의내용</td>
                                <td>
                                    <textarea name="content" id="content" placeholder="내용을 입력하세요."></textarea>
                                </td>
                            </tr>
                        </table>
						<div style="text-align: center; margin-top: 50px; margin-bottom: 30px">
							<a th:href="@{/cs/qna_list(cate1=${cate1})}" class="goList">목록보기</a>
                    		<input type="submit" class="writeForm" value="등록하기"/>
						</div>
                    </form>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>