<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<script>

$(document).ready(function(){
	
	let url = window.location.href;
	
	let cate1 = url.substring(54,56);
	console.log("url : " + url);
	console.log("cate1 : " + cate1);
	
	if(cate1 == '0'){
		$('li a[href$="cate1=0"]').addClass('on');
	}else if(cate1 == '10'){
		$('li a[href$="cate1=10"]').addClass('on');
	}else if(cate1 == '11'){
		$('li a[href$="cate1=11"]').addClass('on');
	}else if(cate1 == '12'){
		$('li a[href$="cate1=12"]').addClass('on');
	}else if(cate1 == '13'){
		$('li a[href$="cate1=13"]').addClass('on');
	}else if(cate1 == '14'){
		$('li a[href$="cate1=14"]').addClass('on');
	}else if(cate1 == '15'){
		$('li a[href$="cate1=15"]').addClass('on');
	}else if(cate1 == '16'){
		$('li a[href$="cate1=16"]').addClass('on');
	}
});

</script>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 문의하기</p>
                </div>
            </div>
            <div class="list">
				<article>
					<p>문의하기</p>
					<ul th:each="cate1 : ${cate1s}">
						<li><a th:href="@{/cs/qna_list(cate1=${cate1.cate1})}">[[${cate1.c1Name}]]</a></li>
					</ul>
				</article>
                <div style="width: 970px;">
                	<p>전체</p>
       				<span>문의사항 전체 내용입니다.</span>
                    <div class="title">
                        <p>&#91;[[${article.c2Name}]]&#93; [[${article.title}]]</p>
                        <span>[[${article.uid}]] [[${article.rdate}]]</span>
                    </div>
                    <div class="content" style="height: 300px;">
                        <p>
                        	[[${article.content}]]
                        </p>
                    </div>
                    <div class="content comment" th:if="${article.comment > 0}" style="height: 300px;">
                        <span>☞[답변] [[${comment.title}]]</span>
                        <p>
                        	[[${comment.content}]]
                        </p>
                    </div>
                    <div style="width: 100%; text-align: center;">
                    	<a th:href="@{/cs/qna_list(cate1=${cate1})}" class="goList" style="margin-top: 30px; margin-bottom: 50px;">목록보기</a>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>