<th:block th:include="/admin/_header.html"/>
    <section class="index_section">
        <nav>
            <h3>관리자 메인</h3>
            <p>HOME > <strong>메인</strong></p>
        </nav>
        <h4>쇼핑몰 운영현황</h4>
        <article>
            <table border="0">
                <tr>
                    <td>
                        <strong>주문건수(건)</strong>
                        <span>[[${order.todayCount}]] 건</span>
                    </td>
                    <td>
                        <strong>주문금액(원)</strong>
                        <span th:text="${#numbers.formatInteger(order.totalOrdPrice,3,'COMMA')} + 원" th:if="${order.totalOrdPrice > 0}">[[${order.totalOrdPrice}]]</span>
                        <span th:unless="${order.totalOrdPrice > 0}">0원</span>
                    </td>
                    <td>
                        <strong>회원가입(명)</strong>
                        <span>[[${registerCount}]]</span>
                    </td>
                    <td>
                        <strong>쇼핑몰방문(명)</strong>
                        <span th:text="${#numbers.formatInteger(visitor.Tvisitor,3,'COMMA')} + 명" th:if="${visitor.Nvisitor > 0}">[[${visitor.Tvisitor}]]</span>
                        <span th:unless="${visitor.Nvisitor > 0}">0명</span>
                    </td>
                    <td>
                        <strong>신규게시물(건)</strong>
                        <span>[[${postCount}]]</span>
                    </td>                            
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>0</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>0</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>0</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>0</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>0</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>0</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>0</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>0</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>0</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>0</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>[[${visitor.Yvisitor}]]</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>[[${visitor.Wvisitor}]]</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>[[${visitor.Mvisitor}]]</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                </tr>
            </table>
        </article>
        <h4>주문 업무현황</h4>
        <article>
            <table>
                <tr>
                    <td>
                        <strong>입금대기(건)</strong>
                        <span>[[${waiting}]] 건</span>
                    </td>
                    <td>
                        <strong>배송준비(건)</strong>
                        <span>0</span>
                    </td>
                    <td>
                        <strong>취소요청(건)</strong>
                        <span>0</span>
                    </td>
                    <td>
                        <strong>교환요청(건)</strong>
                        <span>0</span>
                    </td>      
                    <td>
                        <strong>반품요청(건)</strong>
                        <span>0</span>
                    </td>                                            
                </tr>
            </table>
        </article>
        <div class="index_notice">
            <div>
                <h4>공지사항</h4>
                <article>
					<th:block th:each="notice : ${notice}">
                    	<p>
	                        <span>&#91;[[${notice.c1Name}]]&#93; [[${notice.title}]]</span>
	                        <span>[[${notice.rdate}]]</span>
	                    </p>
					</th:block>
                </article>
            </div>

            <div>
                <h4>자주 묻는 질문</h4>
                <article>
					<th:block th:each="faq : ${faq}">
                    	<p>
	                        <span>&#91;[[${faq.c1Name}]]&#93; [[${faq.title}]]</span>
	                        <span>[[${faq.rdate}]]</span>
	                    </p>
					</th:block>
                </article>
            </div>
        </div>               
    </section>
</main>
<th:block th:include="@{admin/_footer.html}"/>