<th:block th:include="@{product/_header.html}"/>
<script>
	function visitCount(){
		
	 	// 쿠키가 있으면 return;
		/*let expireDate = new Date();
		expireDate.setTime(expireDate.getTime() + 24 * 60 * 60 * 1000); // 현재 시간에서 1초를 더합니다.*/
		
		let expireDate = new Date();
		expireDate.setHours(0, 0, 0, 0); // 현재 시간의 시, 분, 초, 밀리초를 0으로 설정합니다.
		expireDate.setDate(expireDate.getDate() + 1); // 다음 날의 날짜로 설정합니다.
		
		expireDate.setDate(expireDate.getDate() + 1); // 다음 날의 날짜로 설정합니다.
		 
		let hitCt = eval(cookieVal("pageHit"));
		
		hitCt++; // 방문 카운트 +1
		
		console.log("hit : " + hitCt);
		
		document.cookie = "pageHit=" + hitCt + ";expires=" + expireDate.toGMTString();
		
		//console.log("hitCt : " + hitCt);
		
		function cookieVal(cookieName){
			const thisCookie = document.cookie.split(";");
			
			for(let i = 0; i < thisCookie.length; i++ ){
				if(cookieName == thisCookie[i].split("=")[0]){
					return thisCookie[i].split("=")[1]
				}
			}
			return 0
		}
		 
		let jsonData = {"hitCt" : hitCt};
		
    	$.ajax({
    		url : "/Kmarket/admin/visitKmarketCount",
    		method : "GET",
    		data : jsonData,
    	});
	}

    $(document).ready(function(){
    	
    	visitCount();
    	
        $(".slider > ul").bxSlider({
            easing: "linear",
        });
    });

    $(function(){
        var best = $("aside > .best");

        $(window).scroll(function(){
            var t = $(this).scrollTop();
            
            if(t > 620){
                best.css({
                    position: "fixed",
                    top: "0",
                });
            }else{
                best.css({position: "static"});
            }
        });
    });
</script>
<main>
    <aside>
        <!-- 카테고리 -->
                <ul class="category">
                    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                    <li>
                        <a><i class="fas fa-tshirt"></i>패션·의류·뷰티</a>
                        <ol>
		                    <li><a th:href="@{/product/list?cate1=10&cate2=10}">브랜드 여성의류</a></li>
		                    <li><a th:href="@{/product/list?cate1=10&cate2=11}">브랜드 남성의류</a></li>
		                    <li><a th:href="@{/product/list?cate1=10&cate2=12}">브랜드 진/캐쥬얼</a></li>
		                    <li><a th:href="@{/product/list?cate1=10&cate2=13}">브랜드 신발/가방</a></li>
		                    <li><a th:href="@{/product/list?cate1=10&cate2=14}">브랜드 브랜드 쥬얼리/시계</a></li>
		                    <li><a th:href="@{/product/list?cate1=10&cate2=15}">브랜드 아웃도어</a></li>
		                </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-laptop"></i>가전·디지털</a>
                        <ol>
                            <li><a th:href="@{/product/list(arg0=15,arg1=10,arg2=sold,pg=1)}">노트북</a></li>
		                    <li><a th:href="@{/product/list(arg0=15,arg1=16,arg2=sold,pg=1)}">가전</a></li>
		                    <li><a th:href="@{/product/list(arg0=15,arg1=13,arg2=sold,pg=1)}">휴대폰</a></li>
		                    <li><a th:href="@{/product/list(arg0=15,arg1=11,arg2=sold,pg=1)}">기타</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-utensils"></i>식품·생필품</a>
                        <ol>
                            <li><a th:href="@{/product/list(arg0=13,arg1=10,arg2=sold,pg=1)}">신선식품</a></li>
		                    <li><a th:href="@{/product/list(arg0=13,arg1=11,arg2=sold,pg=1)}">가공식품</a></li>
		                    <li><a th:href="@{/product/list(arg0=13,arg1=12,arg2=sold,pg=1)}">건강식품</a></li>
		                    <li><a th:href="@{/product/list(arg0=13,arg1=14,arg2=sold,pg=1)}">생필품</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-home"></i>홈·문구·취미</a>
                        <ol>
                            <li><a th:href="@{/product/list(arg0=14,arg1=10,arg2=sold,pg=1)}">가구</a></li>
		                    <li><a th:href="@{/product/list(arg0=14,arg1=11,arg2=sold,pg=1)}">침구·커튼</a></li>
		                    <li><a th:href="@{/product/list(arg0=14,arg1=13,arg2=sold,pg=1)}">생활용품</a></li>
		                    <li><a th:href="@{/product/list(arg0=14,arg1=15,arg2=sold,pg=1)}">사무용품</a></li>
                        </ol>
                    </li>
                </ul>
        <!-- 베스트상품 배너 -->
        <article class="best" id="best">
            <h1><i class="fas fa-crown"></i>베스트상품</h1>
            <ol>
            <li th:each="bp,i:${bestProduct}" th:if="${i.index} < 5">
                <a th:href="@{product/view(param1=${bp.prodNo})}">
                <div class="thumb">
                    <i th:text="${i.index+1}"></i>
                    <img th:src="@{/image/}+${bp.thumb2}"></img>
                </div>
                <h2>[[${bp.prodName}]]</h2>
                <div class="org_price" th:style="${bp.discount} == '0'? 'display:none;' : ''">
                    <del>30,000</del>
                    <span>[[${bp.discount}]]%</span>
                </div>
                <div class="dis_price"data-th-text="${#numbers.formatInteger(bp.price, 3, 'COMMA') + '원'}">
                    <ins>[[${bp.price}]]</ins>
                </div>
                </a>
            </li>
            </ol>
        </article>
    </aside>
    <section>
        <!-- 슬라이더 영역 -->
        <section class="slider">
            <ul>
                <li>
                <a href="#"
                    ><img th:src="@{/img/main/slider_item1.jpg}" alt="item1"
                /></a>
                </li>
                <li>
                <a href="#"
                    ><img th:src="@{/img/main/slider_item2.jpg}" alt="item2"
                /></a>
                </li>
                <li>
                <a href="#"
                    ><img th:src="@{/img/main/slider_item3.jpg}" alt="item3"
                /></a>
                </li>
                <li>
                <a href="#"
                    ><img th:src="@{/img/main/slider_item4.jpg}" alt="item4"
                /></a>
                </li>
                <li>
                <a href="#"
                    ><img th:src="@{/img/main/slider_item5.jpg}" alt="item5"
                /></a>
                </li>
            </ul>
        </section>
        <!-- 히트상품 영역 -->
        <section class="hit" id="hit">
            <h3><span>히트상품</span></h3>
            <article th:each="hp:${hitProduct}">
                <a th:href="@{product/view(param1=${hp.prodNo})}">
                <div class="thumb">
                    <img th:src="@{/image/}+${hp.thumb2}"></img>
                </div>
                <h2>[[${hp.prodName}]]</h2>
                <p>[[${hp.descript}]]</p>
                <div class="org_price" th:style="${hp.discount} == '0'? 'display:none;' : ''">
                    <del>30,000</del>
                    <span>[[${hp.discount}]]%</span>
                </div>
                <div class="dis_price"data-th-text="${#numbers.formatInteger(hp.price, 3, 'COMMA') + '원'}">
                    <ins>[[${hp.price}]]</ins>
                    <span class="free">무료배송</span>
                </div>
                </a>
            </article>
        </section>
        <!-- 추천상품 영역 -->
        <section class="recommend" id="recommend">
            <h3><span>추천상품</span></h3>
            <article th:each="rp:${recommendProduct}">
            	<a th:href="@{product/view(param1=${rp.prodNo})}">
                <div class="thumb">
                    <img th:src="@{/image/}+${rp.thumb2}"></img>
                </div>
                <h2>[[${rp.prodName}]]</h2>
                <p>[[${rp.descript}]]</p>
                <div class="org_price" th:style="${rp.discount} == '0'? 'display:none;' : ''">
                    <del>30,000</del>
                    <span>[[${rp.discount}]]%</span>
                </div>
                <div class="dis_price"data-th-text="${#numbers.formatInteger(rp.price, 3, 'COMMA') + '원'}">
                    <ins>[[${rp.price}]]</ins>
                    <span class="free">무료배송</span>
                </div>
                </a>
            </article>
        </section>
        <!-- 최신상품 영역 -->
        <section class="new" id="new">
            <h3><span>최신상품</span></h3>
            <article th:each="np:${newProduct}">
                <a th:href="@{product/view(param1=${np.prodNo})}">
                <div class="thumb">
                    <img th:src="@{/image/}+${np.thumb2}"></img>
                </div>
                <h2>[[${np.prodName}]]</h2>
                <p>[[${np.descript}]]</p>
                <div class="org_price" th:style="${np.discount} == '0'? 'display:none;' : ''">
                    <del>30,000</del>
                    <span>[[${np.discount}]]%</span>
                </div>
                <div class="dis_price"data-th-text="${#numbers.formatInteger(np.price, 3, 'COMMA') + '원'}">
                    <ins>[[${np.price}]]</ins>
                    <span class="free">무료배송</span>
                </div>
                </a>
            </article>
        </section>
        <!-- 할인상품 영역 -->
        <section class="discount" id="discount">
            <h3><span>할인상품</span></h3>
            <article th:each="dp:${discountProduct}">
                <a th:href="@{product/view(param1=${dp.prodNo})}">
                <div class="thumb">
                    <img th:src="@{/image/}+${dp.thumb2}"></img>
                </div>
                <h2>[[${dp.prodName}]]</h2>
                <p>[[${dp.descript}]]</p>
                <div class="org_price" th:style="${dp.discount} == '0'? 'display:none;' : ''">
                    <del>30,000</del>
                    <span>[[${dp.discount}]]%</span>
                </div>
                <div class="dis_price"data-th-text="${#numbers.formatInteger(dp.price, 3, 'COMMA') + '원'}">
                    <ins>[[${dp.price}]]</ins>
                    <span class="free">무료배송</span>
                </div>
                </a>
            </article>
        </section>
    </section>
</main>
<th:block th:include="@{product/_footer.html}"/>
