<th:block th:include="@{admin/_header.html}"/>
<script>

	$(document).ready(function(){
		$('select[name=cate1]').change(function(){
			let cate1 = $('select[name=cate1]').val();
			
			let jsonData = {'cate1' : cate1};
			
			$.ajax({
				url : '/Kmarket/admin/select_Bd_Cate2',
				method : 'GET',
				data : jsonData,
				dataType : 'json',
				success : function(data){
					$('select[name=cate2]').show();
					$('select[name=cate2]').empty();
					let tags  = "<option>2차 선택</option>";
					$('select[name=cate2]').append(tags);
					//data.result[0].c2Name
					data.result.forEach(function(item){
						let	tags = "<option value='"+item.cate2+"'>"+item.c2Name+"</option>";
						$('select[name=cate2]').append(tags);
						
					});
				}
			});
		});
		
		$('input[name=check]').click(function(){
			
			let allCheck = $('input[name=allCheck]');
			let length = $('input:checkbox[name=check]').length;
			let lengths = $('input:checkbox[name=check]:checked').length;
			
		    if(length == lengths){
		        allCheck.prop('checked', true);
		    } else {
		        allCheck.prop('checked', false);
		    }			
			
		});
		
		
		$('input[name=allCheck]').click(function(){
			
			let allCheck = $('input[name=allCheck]').prop('checked');
			
			if(allCheck){
				$('input[name=check]').prop('checked',true);
			}else{
				$('input[name=check]').prop('checked',false);
			}
			
		});
		
		
		
		$('input[name=FaqDeleteArticles]').click(function(){
			
			let arr = [];
			let check = $('input:checkbox[name=check]:checked');
			let length = $('input:checkbox[name=check]:checked').length;
			
			
			$(check).each(function(){
				arr.push($(this).val());
			});
			
			//alert(arr);
			
			let jsonData = {'arr' : arr};
			
			if(length == 0) {
				alert('체크 확인');
			}else{
				
				let answer = confirm('삭제 ? ');
				
				$.ajax({
					url : '/Kmarket/admin/FaqDeleteArticles',
					method : 'GET',
					traditional : true,
					data : jsonData,
					dataType : 'json',
					success : function(data){
						alert(data.result + " 건 삭제되었습니다.");
						location.href='/Kmarket/admin/faq_list';
					}
				});
			}
		});
		
		
		
		$('select[name=cate2]').change(function(){
			
			let cate1 = $('select[name=cate1]').val();
			let cate2 = $('select[name=cate2]').val();
			
			//alert(cate1  + ", " + cate2);
			
			let jsonData = {'cate1' : cate1 , 'cate2' : cate2};
			
			$.ajax({
				url : '/Kmarket/admin/selectArticleLists',
				method : 'GET',
				data : jsonData,
				dataType : 'json',
				success : function(data){
					$('tr[class=faq_list]').empty();
					if(data.result.length == 0){
						alert('일치하는 결과가 없습니다.')	
					}else{
						let i = 0;
						for(let list of data.result){
							i++;
							let tags  = "<tr class='faq_list'>";
								tags += "<td><input type='checkbox' name='check' value='"+list.no+"'></td>";
								tags += "<td>"+( data.result.length - i + 1)+"</td>";
								tags += "<td>"+list.c2Name+"</td>";
								tags += "<td>"+list.title+"</td>";
								tags += "<td>"+list.hit+"</td>";
								tags += "<td>"+list.rdate+"</td>";
								tags += "<td>";
								tags += "<a href='/Kmarket/admin/faq_modify?no="+list.no+"' style='display: block;'>[수정]</a>";
								tags += "<a href='/Kmarket/admin/faq_delete?no="+list.no+"'>[삭제]</a>";
								tags += "</td>";
								tags += "</tr>";
							$('table[class=faq_table]').append(tags);
						}
					}
				}
			});
		});
	});


</script>
<article class="article_list">
    <nav>
        <h3>자주묻는질문 목록</h3>
        <p>
            HOME > 고객센터 > <strong>자주하는질문</strong>
        </p>
    </nav>
    <section>
        <select style="margin-right: 5px;" name="cate1">
        	<option value="0">1차 선택</option>
            <option th:each="cate1 : ${cate1s}" th:value="${cate1.cate1}">[[${cate1.c1Name}]]</option>
        </select>
        <select name="cate2" style="width: 150px; display: none;">
            <option value="">2차 선택</option>
        </select>
        <table border="0" class="faq_table">
            <tr>
                <th><input type="checkbox" name="allCheck"></th>
                <th>번호</th>
                <th>유형</th>
                <th>제목</th>
                <th>조회</th>
                <th>날짜</th>
                <th>관리</th>
            </tr>
            <tr th:if="${lists.size() == 0}">
            	<td colspan="7">게시글이 없습니다.</td>
            </tr>
            <tr th:each="list,i: ${lists}" class="faq_list">
                <td><input type="checkbox" name="check" th:value="${list.no}"></td>
                <td>[[${pageStartNum - i.index}]]</td>
                <td>[[${list.c2Name}]]</td>
                <td><a th:href="@{/admin/faq_view(no=${list.no})}">[[${list.title}]]</a></td>
                <td>[[${list.hit}]]</td>
                <td>[[${list.rdate}]]</td>
                <td>
                    <a th:href="@{/admin/faq_modify(no=${list.no})}">[수정]</a>
                    <a th:href="@{/admin/faq_delete(no=${list.no})}">[삭제]</a>
                </td>
            </tr>
        </table>
        <div class="button">
            <a href=""><input type="button" name="FaqDeleteArticles" value="선택삭제"></a>
            <a th:href="@{/admin/faq_write}"><input type="button" value="등록하기"></a>
        </div>
        <div class="list_page" style="margin-top: 50px;">
        	    <span class="prev" th:if="${groups[0]>1}">
                    <a th:href="@{/admin/faq_list(pg=${groups[0]-1})}">< 이전</a>
                </span>
                
                <span class="num">
                <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                    <a th:href="@{/admin/cs/qna/list(pg=${num})}" 
                    	th:class="${num==currentPage ? 'on':'off'}"+"${num==currentPage?'num current':'num'}">[[${num}]]</a>
                </th:block>
                </span>
                
                <span class="next" th:if="${groups[1] < lastPageNum}">
                    <a th:href="@{/admin/faq_list(pg=${groups[1]+1})}">다음 ></a>
                </span>
    		</div>
    </section>
</article>
</main>
<th:block th:include="@{admin/_footer.html}"/>